<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Chat - регистрация</title>
</head>
<body>
    <div class="wrapper">
        <form action="" class="login-form">
            <h2>Регистрация</h2>
            <input placeholder="Имя пользователя" type="text" name="username" class="login-form__input">
            <input placeholder="Пароль" type="password" name="password" class="login-form__input">
            <button type="submit" class="login-form__button">Войти</button>
        </form>
    </div>

    <div class="warn success display-none">
        Вы успешно прошли регистрацию
    </div>

    <div class="warn error display-none">
        Такой пользователь уже есть
    </div>

    <div class="warn fatalerror display-none">
        Произошла какая-то ошибка!
    </div>

</body>
</html>